@import "vars";

.event-wrapper {
  padding: 0 1em;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
  p {
    margin-bottom: 1em;
  }
  @media only screen and (min-width: 700px) {
    background-color: $bg-color-secondary;
    margin-top: 15em;
    margin-bottom: 15em;
    padding: 2em;
  }
  .img-wrapper {
    img {
      margin: auto;
      max-height: 30em;
      display: block;
      width: 100%;
      object-fit: cover;
      @media only screen and (min-width: 700px) {
        height: 40em;
        max-height: 40em;
        align-self: flex-start;
        margin: 0;
        object-fit: cover;
        // object-position: 0 10%;
      }
    }
  }
  .title {
    // font-family: franchise;
    color: $primary;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .entree {
      font-weight: bold;
    }
  }
  .date {
    font-weight: bold;
  }
  button {
    align-self: flex-start;
  }
  .description {
  }
  // button {
  //   margin: auto;
  // }
}
