@import "vars";

.hidden {
  visibility: hidden;
  position: fixed;
}
// .links {
//   display: flex;
//   margin-top: 1em;
//   width: 100vw;
//   justify-content: center;
//   & > * {
//     margin-right: 1em;
//   }
// }

.no-events {
  position: absolute;
  margin-top: 2em;
  @media only screen and (min-width: 1000px) {
    left: 25vw;
    top: 40vh;
  }
  // transform: translate(-50%, -50%);
}
.filter-wrapper {
  @media only screen and (min-width: 700px) {
    width: 20em;
    margin-bottom: 0;
  }
  margin-top: 7em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  // ---------SAFARI--------------
  @supports not (aspect-ratio: 1 / 1) {
    * + * {
      margin-top: 0.5em;
    }
  }
  // -----------------------------
  .search {
    position: relative;
    width: 100%;
    display: flex;
    input {
      font-family: inherit;
      padding: 0.7em 0.7em;
      width: 100%;
      border-radius: 0px;
      border: 1px solid $primary;
      &:focus {
        outline: 1px solid lighten($primary, 10);
      }
    }
    .remove {
      position: absolute;
      color: grey;
      right: 25%;
      top: 30%;
      cursor: pointer;
    }
    button {
      width: 7em;
      background-color: lighten($primary, 0);
      border: none;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: darken($primary, 5);
      }
    }
  }
  .select {
    width: 100%;
    // display: flex;
    // justify-content: flex-end;
    select {
      font-family: inherit;
      text-align: center;
      width: 100%;
      border: 1px solid $primary;
      padding: 0.5em 0.7em;
      @media only screen and (min-width: 700px) {
        margin-bottom: 0;
      }
      &:focus {
        outline: 1px solid lighten($primary, 10);
      }
    }
  }
}

.events-wrapper {
  // background-color: rgb(232, 232, 232);
  // border-radius: 5px;
  // overflow-x: hidden;
  padding: 1em;
  min-width: 23em;
  // max-width: 30em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  @media only screen and (min-width: 1000px) {
    max-width: unset;
    min-width: 80%;
    margin-top: 2em;
  }
  .events {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
    position: relative;
    @media only screen and (min-width: 1000px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .month {
      font-family: takraf;
      text-align: center;
      text-decoration: underline;
      color: $primary;
      font-size: 2em;
      @media only screen and (min-width: 800px) {
        font-size: 3em;
        margin-top: 2em;
        grid-column-start: span 2;
        text-align: left;
      }
      &::before {
        content: "====";
      }
      &::after {
        content: "====";
      }
      @media only screen and (min-width: 1000px) {
        &::before,
        &::after {
          content: "=====";
        }
      }
    }
    .event {
      background-color: $bg-color-secondary;
      padding: 1em;
      // border-radius: 3px;

      // border-top: 1px solid black;
      // background-color: rgb(232, 232, 232);
      // box-shadow: 0 0 5px rgba(0, 0, 0, 0.21);
      text-decoration: none;
      color: black;
      // flex-direction: column;
      position: relative;
      // display: flex;
      gap: 1em;
      align-items: center;
      // height: 15em;
      overflow: hidden;
      @media only screen and (min-width: 1000px) {
        padding: 2em;
        width: 40vw;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        max-height: 25em;
        // height: 20em;
      }

      .image {
        // height: 20em;
        margin-bottom: 1em;
        aspect-ratio: 1 / 1;
        background-position: center;
        background-size: cover;

        @media only screen and (min-width: 1000px) {
          grid-column-start: span 6;
          grid-row-start: span 12;
          // height: 100%;
        }
        @supports not (aspect-ratio: 1 / 1) {
          height: 13em;
          width: 13em !important;
        }
      }
      .header {
        color: $primary;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        @media only screen and (min-width: 1000px) {
          text-align: right;
          grid-column-start: span 6;
          grid-row-start: span 2;
          flex-direction: column;
        }
        .day {
          font-family: franchise;
          white-space: nowrap;
          // position: absolute;
          // right: calc(100% + 1em);
          // top: 50%;
          font-size: 1.5em;
          // ---------SAFARI--------------
          @supports not (aspect-ratio: 1 / 1) {
            font-family: inherit;
            font-size: 1em;
          }
          // -----------------------------
        }
        .entree {
          font-size: 0.9em;
          color: lighten($primary, 5);
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-bottom: 1em;
        height: 100%;
        @media only screen and (min-width: 1000px) {
          grid-row-start: span 11;
          grid-column-start: span 6;
        }
        .event-title {
          font-size: 1.2em;
        }
        .description {
          color: $font-primary;
          .meer {
            color: $primary;
            text-decoration: underline;
            cursor: pointer;
          }
        }
        .entree {
          color: $primary;
        }
      }
      button {
        margin: auto;
        @media only screen and (min-width: 1000px) {
          position: absolute;
          bottom: 2em;
          left: 2.5em;
        }
      }
    }
  }
}
