@import "vars";

.event-wrapper {
  padding: 0 1em;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
  @media only screen and (min-width: 700px) {
    margin-top: 3em;
  }
  img {
    margin: auto;
    max-height: 300px;
    display: block;
  }
  .title {
    font-family: franchise;
    color: $primary;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .entree {
      font-weight: bold;
    }
  }
  .date {
    font-weight: bold;
  }
  .description {
  }
  // button {
  //   margin: auto;
  // }
}
