@import "vars";
.wrapper {
  height: 4em;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(210, 210, 210);
  display: flex;
  align-items: center;
  padding: 0 1em;
  justify-content: center;
  .social {
    display: flex;
    gap: 0.5em;
  }
  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .fb {
    color: #4267b2;
  }
  .insta {
    color: #3f729b;
  }
  .li {
    color: #0072b1;
  }
  .yt {
    color: #ff0000;
  }
  .login {
    position: absolute;
    right: 1em;
    color: $font-primary;
  }
}
