@import "vars";
.wrapper {
  height: 6em;
  width: 100%;
  background-color: rgb(228, 228, 228);
  border-top: 2px solid rgb(223, 223, 223);
  display: flex;
  align-items: center;
  padding: 0 1em;
  justify-content: center;
  .social {
    display: flex;
    gap: 0.5em;
    // ---------SAFARI--------------
    @supports not (aspect-ratio: 1 / 1) {
      * + * {
        margin-left: 0.5em;
      }
    }
    // -----------------------------
  }
  .icon-www {
    width: 13em;
    height: 7em;
    position: absolute;
    left: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    @supports not (aspect-ratio: 1 / 1) {
      * + * {
        margin-left: 1em;
      }
    }
    .logo {
      max-height: 40%;
      filter: grayscale(80%);
      transition: 0.5s linear filter;
      z-index: 1;
    }
    div {
      transition: 0.2s linear all;
      opacity: 0;
      margin-top: 1em;
      align-self: flex-start;
      height: 50%;
      position: relative;
      transform: translateX(-50%);
      small {
        white-space: nowrap;
      }
      .text {
        height: 100%;
      }
    }
    &:hover .logo {
      filter: none;
    }
    &:hover div {
      opacity: 1;
      transform: translateX(0);
    }
  }

  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .fb:hover {
    color: #4267b2;
  }
  .insta:hover {
    color: #3f729b;
  }
  .li:hover {
    color: #0072b1;
  }
  .yt:hover {
    color: #ff0000;
  }
  .login {
    position: absolute;
    right: 1em;
    color: $font-primary;
  }
}
