html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}
p,
h5 {
  line-height: 2;
  color: rgb(38, 38, 38);
  text-align: left !important;
}

a {
  color: rgb(166, 0, 169);
}
li {
  list-style-type: square;
  margin-left: 1.5em;
}
h1 {
  text-align: center;
}
.np-page-title {
  margin-top: 1em;
}
.np-main-content {
  width: 800px;
  margin: 0 auto;
  padding: 1em;
}
.np-post {
  border-radius: 5px;
  border: 1px solid rgb(181, 181, 181);
  margin: 1em 0;
  padding: 1em;
}

.np-featured-image {
  max-height: 50vh;
  overflow: hidden;
}
