@import "vars";
.container {
  margin-top: 30vh;
  @media only screen and (min-width: 1000px) {
    margin-top: 11em;
  }
}
.logo {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 2em;

  @media only screen and (min-width: 700px) {
    margin-bottom: 2em;
  }
  .takraf {
    position: relative;
    font-family: takraf;
    color: $primary;
    z-index: 1;
    @media only screen and (min-width: 700px) {
      font-size: 1.5em;
    }
    &::after {
      $shadow-color: rgba(144, 144, 144, 0.094);
      white-space: pre-wrap;
      content: "========de\Anijverheid\A==========";
      font-family: takraf;
      color: $shadow-color;
      font-size: 1.5em;
      line-height: 0.95em;
      position: absolute;
      transform: rotatex(0) skew(310deg, 0) scale(1, 0.6);
      top: 0.5em;
      left: 1em;
      z-index: -2;
      box-shadow: 2px -2px 7px $shadow-color;
    }
    &::before {
      content: "";
      z-index: -1;
      background-color: $bg-color;
      width: 100%;
      font-family: takraf;
      height: 70%;
      bottom: 0;
      position: absolute;
    }
    .roll {
      display: inline-block;
      transform: rotate(-180deg);
      transform-origin: 0px -1px;
      @media only screen and (min-width: 700px) {
        transform-origin: 0px -2px;
      }
    }
    h1 {
      display: inline;
      font-weight: normal;
    }

    & > * {
      font-size: 1.5em;
      line-height: 0.95em;
    }
  }
}

// .subtitle {
//   margin: 0 0.5em;
//   font-family: franchise;
//   text-align: center;
//   font-size: 1.3em;
//   color: $primary;
// }
.panorama {
  // background-color: black;
  width: 300vw;
  max-width: unset;
  position: relative;
  margin-bottom: 2em;
  @media only screen and (min-width: 700px) {
    transform: translateX(-35.5vw);
    width: 134vw;
    // position: absolute;
    // left: 0;
    // right: 0;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: $bg-color;
    background: linear-gradient(
      180deg,
      $bg-color 0%,
      rgba(255, 255, 255, 0) 31%,
      rgba(255, 255, 255, 0) 92%
    );
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    filter: blur(100px);
    position: relative;
    right: 0%;
    opacity: 0.1;
    // animation-name: panorama-initial-slide;
    // animation-duration: 120s;
    // animation-iteration-count: infinite;
    // animation-direction: alternate;
    // animation-timing-function: linear;

    @media only screen and (min-width: 700px) {
      position: static;
      // animation: none;
      width: 100vw;
    }
  }
  .unblur {
    animation-name: unblur;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}
.nieuws {
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 1em;

  .left,
  .right {
    background-color: transparent;
    border: none;
    color: $font-primary;
    // color: darken($primary, 5);
    // opacity: 0.2;
    width: 2em;
    color: lighten($font-primary, 50);
    @media only screen and (min-width: 700px) {
      cursor: pointer;
      transition: color 0.2s;
      width: 3em;
      &:hover {
        color: $font-primary;
      }
    }
  }
  .left {
    position: absolute;
    top: 50%;
    right: calc(100% - 2.3em);
    transform: translateY(-30%);
    @media only screen and (min-width: 700px) {
      right: calc(100%);
    }
  }
  .right {
    position: absolute;
    top: 50%;
    left: calc(100% - 2.3em);
    transform: translateY(-30%);
    @media only screen and (min-width: 700px) {
      left: calc(100%);
    }
  }
  .nieuwsitems {
    background-color: $bg-color-secondary;
    margin: 0 2em;
    scroll-behavior: smooth;
    // background-color: rgba(255, 255, 0, 0.569);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 40%;
    gap: 1em;
    overflow-x: scroll;
    padding-bottom: 1em;
    @media only screen and (min-width: 700px) {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.074);
      padding-bottom: 0;
      gap: 0;
      padding: 1em;
      grid-auto-columns: 15em;
      // justify-content: center;
    }
    .item {
      text-decoration: none;
      // box-shadow: 0 0 5px rgba(0, 0, 0, 0.074);
      padding: 0.5em;
      margin: 0.1em;
      // border-radius: 2%;

      display: flex;
      flex-direction: column;
      @media only screen and (min-width: 700px) {
        width: 20em;
      }
      h4 {
        color: rgb(83, 83, 83);
        font-size: 1em;
        @media only screen and (min-width: 700px) {
          text-align: center;
        }
      }
      .image {
        position: relative;
        z-index: 2;
        // inline-size: 100%;
        // display: flex;
        // flex-direction: column;
        img {
          inline-size: 100%;
          @media only screen and (min-width: 700px) {
            inline-size: 15em;
            display: block;
            margin: auto;
          }
          // border-radius: 2%;
        }
      }
    }
  }
}
.agenda {
  margin-bottom: 3em;
  .agendaitems {
    margin: 0 1em;
    max-width: 60em;
    @media only screen and (min-width: 700px) {
      margin: 0 auto;
    }
    .event {
      background-color: $bg-color-secondary;
      text-decoration: none;
      $radius: 0px;
      display: flex;
      margin-bottom: 0.5em;
      border-radius: $radius;
      padding: 0.5em;
      // gap: 1em;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.069);
      .imagewrapper {
        $size: 7em;
        width: $size;
        height: $size;
        overflow: hidden;
        // safari fix:
        @media only screen and (min-width: 700px) {
          margin-right: 4em;
        }
        img {
          border-top-left-radius: $radius;
          border-bottom-left-radius: $radius;
          position: relative;
          z-index: 2;
          background-color: white;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 13em;

        h4 {
          color: rgb(100, 100, 100);
        }
        span {
          color: $primary;
          font-weight: bold;
        }
      }
    }
  }
  .button {
    margin: auto;
    margin-top: 3em;
  }
}
.info {
  .wrapper {
    margin: 0 1em;

    p {
      color: $font-primary;
      margin-bottom: 1em;
    }
    strong,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $primary;
      // font-family: franchise;
      letter-spacing: 0.05em;
      font-size: 1.1em;
    }
  }
}

@keyframes panorama-initial-slide {
  to {
    right: 50%;
  }
}
@keyframes unblur {
  to {
    filter: blur(0px);
    opacity: 1;
  }
}
