@import "vars";

.logo {
  width: 50vw;
  margin: auto;
  //   text-align: center;
}
.takraf {
  font-family: takraf;
  color: $primary;

  h1 {
    display: inline;
  }

  & > * {
    font-size: 1.3em;
    line-height: 0.95em;
  }
}
