@import "vars";

.navbar {
  padding: 1em 1em;
  display: flex;
  align-items: center;
  gap: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 4em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.156);
  background-color: rgba(255, 255, 255, 0.975);
  // test
  background-color: darken($primary, 5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.543);
  // safari:
  @media only screen and (min-width: 700px) {
    height: 10em;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em 0 1em;
  }
  @media only screen and (max-width: 700px) {
    height: 4em !important;
  }

  .logo {
    font-family: takraf;
    font-size: 1em;
    color: $primary;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.1em;
    // test
    color: white;
    @media only screen and (min-width: 700px) {
      font-size: 1.5em;
      // display: none;
    }
  }
  .link {
    @media only screen and (max-width: 700px) {
      display: none !important;
    }
    text-decoration: none;
    font-size: 1.4em;
    // test
    color: rgb(215, 215, 215);

    letter-spacing: 0.1em;
  }
  .link:hover,
  .active,
  .link:focus,
  .link:active {
    display: block !important;
    color: $bg-color;
    text-decoration: underline;
  }
  .np-menu-button {
    color: white;
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 3em;
    height: 3em;
    position: absolute;
    right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: 700px) {
      display: none;
    }
    @media only screen and (max-width: 700px) {
      display: block !important;
    }
  }
  .np-nav-items {
    align-items: center;
    // margin: 1em 0;
    font-family: takraf;
    text-transform: lowercase;
    font-size: 0.8em;

    display: flex;
    @media only screen and (min-width: 700px) {
      column-gap: 3vw;
      row-gap: 2vw;
      font-size: 0.9em;
      flex-wrap: wrap;
      width: 70%;
      margin: auto;
      justify-content: center;
      // ---------SAFARI--------------
      @supports not (aspect-ratio: 1 / 1) {
        * + * {
          margin-left: 1.5em;
        }
        line-height: 2.5em;
      }
      // -----------------------------
    }
  }
  .menu-open {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
  }
}

.mobile-page-display {
  font-family: takraf;
  color: $bg-color;
  font-size: 1.1em;

  @media only screen and (min-width: 700px) {
    display: none;
  }
}

.initial {
  // top: -4em;
  // transition: top 0.3s;
  transition: height 0.3s;
}
.second {
  height: 5em;
}
