@import "vars";

.wrapper {
  margin: 0 2em;
  margin-bottom: 1em;
  h1 {
    // color: darken($primary, 10);
    text-align: center;
    // font-family: takraf;
    // text-transform: lowercase;
    // letter-spacing: -0.06em;
    // word-spacing: -0.5em;
    margin-top: 1em;
    @media only screen and (min-width: 700px) {
      grid-column-start: span 12;
      margin-bottom: 1em;
    }
  }
  img {
    border-radius: 5px;
    margin: auto;
    display: block;
    @media only screen and (min-width: 700px) {
      grid-column-start: span 6;
    }
  }
  .right {
    @media only screen and (min-width: 700px) {
      grid-column-start: span 6;
    }
  }
  .beroep {
    margin-bottom: 1em;
  }
  .description {
    color: $font-primary;
    margin-bottom: 2em;
  }
  .button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: 0.8em;
    text-transform: uppercase;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    @media only screen and (min-width: 700px) {
      margin-top: 2em;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin-bottom: 1em;
    }
  }
}
