@import "vars";

.container {
  width: 100%;
  padding: 1em;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    @media only screen and (min-width: 1000px) {
      margin-top: 2em;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
    }
    .nijveraar {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      gap: 0.5em;
      max-width: 5em;
      text-align: center;
      .title {
        font-size: 1em;
        color: $primary;
        line-height: 1;
        margin-bottom: 0.5em;
        font-weight: bold;
      }
      .beroep {
        color: black;
        line-height: 1;
        display: block;
      }
      img {
        width: 5em;
        // border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.195);
        position: relative;
        z-index: 2;
        @media only screen and (min-width: 700px) {
          &:hover {
            transform: scale(110%);
            transition: transform 0.3s;
          }
        }
      }
    }
  }
}
