@import "vars";

.wrapper {
  margin: 0 2em;
  margin-bottom: 1em;
  @media only screen and (min-width: 700px) {
    margin-top: 8em;
  }
  .header {
    text-align: center;
  }
  h1 {
    color: $primary;
  }
  & > * {
    margin-bottom: 1em;
  }

  // img {
  //   border-radius: 5px;
  //   margin: auto;
  //   display: block;
  //   width: 100%;
  //   @media only screen and (min-width: 500px) {
  //     width: 80%;
  //     margin: 0;
  //   }
  //   @media only screen and (min-width: 700px) {
  //     grid-column-start: span 5;
  //     margin: unset;
  //     width: unset;
  //     padding-top: 0.5em;
  //   }
  // }
  // .right {
  //   @media only screen and (min-width: 900px) {
  //     grid-column-start: 7;
  //     grid-column-end: 13;
  //   }
  // }
  // .beroep {
  //   margin-bottom: 1em;
  // }
  // .description {
  //   color: $font-primary;
  //   margin-bottom: 2em;
  // }
  // .button {
  //   display: flex;
  //   align-items: center;
  //   font-family: inherit;
  //   font-size: 0.8em;
  //   text-transform: uppercase;
  // }
  // .info {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 1em;
  //   @media only screen and (min-width: 900px) {
  //     margin-top: 2em;
  //     display: grid;
  //     grid-template-columns: repeat(12, 1fr);
  //     margin-bottom: 1em;
  //   }
  // }
}
