@import "vars";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 5px;
  //   border: 1px solid rgb(181, 181, 181);
  margin: 1em 0;
  padding: 1em;
  @media only screen and (min-width: 700px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 3em;
  }
  img {
    margin: auto;
    max-height: 300px;
    display: block;
    @media only screen and (min-width: 700px) {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 2;
      grid-row-end: 7;
    }
  }
  .info {
    @media only screen and (min-width: 700px) {
      grid-column-start: 1;
      grid-column-end: 13;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .headerWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        // font-family: franchise;
        color: $primary;
      }
      .date {
        font-weight: bold;
      }
    }
  }

  .content {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 13;
  }
}
