@import "vars";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 5px;
  //   border: 1px solid rgb(181, 181, 181);
  margin: 1em 0;
  padding: 1em;
  @media only screen and (min-width: 700px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 5em repeat(11, 1fr);
    // gap: 3em;
    gap: 0;
    margin-top: 7em;
  }
  .img-wrapper {
    position: relative;
    @media only screen and (min-width: 700px) {
      grid-column-start: 8;
      grid-column-end: 13;
      grid-row-start: 2;
      grid-row-end: 13;
    }
    img {
      @media only screen and (min-width: 700px) {
        width: 100%;
        object-fit: cover;
        max-height: none;
      }
    }
  }
  .info {
    @media only screen and (min-width: 700px) {
      grid-column-start: 1;
      grid-column-end: 13;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .headerWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        // font-family: franchise;
        color: $primary;
      }
      .date {
        font-weight: bold;
      }
    }
  }

  .content {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 13;
    div {
      padding-top: 0;
    }
  }
}
